@model IEnumerable<EProject.Models.EF.ProdMst>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name product
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prod_Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Prod_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Prod_ID })
        </td>
    </tr>
}

</table>
